.vscode/launch.json
.vscode/tasks.json
/services/email/api/out
/services/email/api/Properties/PublishProfiles
/services/email/consumer/out
/services/email/worker/out
/services/email/consumer/Properties/PublishProfiles
/services/email/worker/Properties/PublishProfiles
/services/email/tests/coverage.opencover.xml
services/critica_cadastro/jmeter/log.jtl
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/stepwise
*.iml
services/critica_consumidor/.idea/misc.xml
services/critica_consumidor/.idea/misc.xml
services/critica_consumidor/.idea/modules.xml
services/critica_consumidor/.idea/workspace.xml
services/critica_financeira/.idea/misc.xml
services/critica_financeira/.idea/modules.xml
services/critica_financeira/.idea/workspace.xml
services/critica_financeira/.idea/critica_financeira.iml
services/critica_financeira/.idea/misc.xml
services/critica_financeira/.idea/modules.xml
services/critica_financeira/.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
services/critica_financeira/.idea/*
services/critica_financeira/venv/tcl/*
services/critica_financeira/venv/tcl/tcl8.6/*
services/critica_financeira/.eggs/
services/critica_financeira/build/
/__pycache__/
__pycache__/
services/critica_common/.idea/
services/critica_financeira/src/critica_financeira.egg-info/
services/critica_common/.venv/*
services/critica_common/dist/*
services/critica_financeira/tests/build/test_results.xml
services/critica_financeira/.idea/inspectionProfiles/*
services/critica_financeira/.venv/*
services/critica_api/venv/*
services/critica_condicoes_pagamento/tests/build/test_results.xml
services/critica_consumidor/.idea/
services/critica_common/critica_common.egg-info/*
services/.idea/*
services/critica_carga/.idea/*
services/critica_carga/.coverage
services/critica_carga/.eggs/*
services/critica_carga/build/*
services/critica_carga/src/critica_carga.egg-info/*
services/critica_common/.mypy_cache/
services/critica_common/.vscode/
services/critica_api/log.out
services/critica_api/log.out*
services/critica_carga/log.out*
services/critica_carga/log.out
.venv/
.mypy_cache/
log.out
services/critica_cadastro/venv/*
services/critica_cadastro/log.*
node_modules
services/critica_carga/venv/*
services/critica_api/src/critica_api/log.out*
services/critica_api/src/critica_api/log.*
services/critica_api/src/critica_api/logging_*
services/critica_carga/src/logging_*
services/critica_carga/.settings/*
services/critica_api/Pip*
services/critica_api/tests/build/*
services/critica_carga/.project
services/critica_carga/.pydevproject
services/critica_carga/Pip*
services/critica_carga/tests/build/test_*.xml
services/critica_carga/tests/logging_*.ini
services/critica_api/tests/logging_*.ini
services/critica_*/.project
services/critica_*/.pydevproject
services/critica_logistica/20190705.5
services/critica_logistica/Pipfile
services/critica_logistica/src/build/test_results.xml
testes_aceite/.idea/
services/critica_comodato/build/
services/critica_comodato/.gradle/
services/critica_comodato/target/
services/critica_comodato/.idea/
utils/hercules-java/.idea/
services/critica_comodato/bin/.project
services/critica_comodato/.settings/org.eclipse.core.resources.prefs
services/critica_comodato/.settings/org.eclipse.jdt.core.prefs
services/critica_comodato/bin/.settings/org.eclipse.core.resources.prefs
services/critica_comodato/bin/*
.settings/
test_results.xml
services/critica_logistica/venv/
